/* VARIAVEIS */
:root {
    --header-color: #000;
    --h1-color:#393c41;
    --h2-color:#6e7378;

}

/* FONTES */
@font-face {
    font-family:GothamMedium;
    src:url(../fonts/GothamMedium.otf);
}

@font-face {
    font-family:GothamBook;
    src:url(../fonts/GothamBookRegular.otf);
}

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'GothamMedium', Helverica, Arial;
    font-size:14px;
}

/* HEADER */
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:50px;
    position:fixed;
    left:0;
    top:0;
    right:0;
}

header ul, header li {
    list-style:none;
}

header .logo {
    width:120px;
    margin-left:20px;
}

header .middle ul,
header .rightside ul {
    display:flex;
}

header .middle li,
header .rightside li {
    margin:0 10px;
}

header .middle a, 
header .rightside a {
    text-decoration:none;
    text-transform:uppercase;
    color: var(--header-color);
}

header .menu--icon {
    width:18px;
    height:16px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    cursor:pointer;
}

header .menu--icon div {
    height:2px;
    background-color:var(--header-color);
}

/* MAIN */
main {
    background-image:url(../images/bg.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
}

main .info {
    height:45vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}

main h1 {
    font-size:40px;
    font-weight:normal;
    color:var(--h1-color)
}

main h2 {
    font-size:14x;
    font-weight:normal;
    font-family:'GothamBook', Helvetica, Arial;
    color:var(--h2-color);
}

main h2 a {
    color:var(--h2-color);
}


